@import 'tailwindcss';
@import '../../../../src/styles/tokens.css';

/* Base styles with theme support */
@layer base {
  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: rgb(var(--color-bg-primary));
    color: rgb(var(--color-text-primary));
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  }

  /* Dark mode support */
  .dark body {
    background-color: rgb(var(--color-bg-primary));
    color: rgb(var(--color-text-primary));
  }
}
